body {
    background-color: lightblue; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1, h2, h3 {
    color: darkblue;
}


nav a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
}


img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.navbar{
    border:none;
    background:#b3ecff;
}
.navbar-brand
    color:#00bfff !important;
    font-size:28px;
    font-weight:bold;
    }
.navbar-nav li a{
    color:DeepSkyBlue !important;
    font-size:18px;
    transition:0.3s;
    }
.navbar-nav li a:hover{
    background:#80ffff !important;
    color:Aqua !important;
    border-radius:5px;
    }
body{
    background: linear-gradient(#66ccff, #003366);
    color: #003366;
}

.center-img {
    display: block;
    margin: 0 auto;
}

#mainimage {
  display: flex;
  justify-content: center;
}
    

    
